  @import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --box-shadow: 2px 2px 12px grey;
    --border:  2rem solid rgba(0,0,0,.1);           
}

html{
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #bb4264;
    border: 1px solid;
    justify-content: space-between;
    padding: 2rem 3%;
    z-index: 1000;
    box-shadow: var(--box-shadow);

}

header img {
    height: 150px;
    width: 200px;
    margin-left: 50px;
    margin-right: 20%;
}


nav {
    flex-grow: 1;
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px; /* Adjust margin between links */
}

nav ul li a {
    font-size: 1.7rem;
    border-radius: .5rem;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background: linear-gradient(#ba28ba,#cffcff);
    color: rgb(255, 255, 255);
}

nav ul li a.nav-link {
    color: rgb(0, 0, 0);
    padding: 14px 40px;
    text-decoration: none;
    display: inline-block;
}

/* Active navigation link styles */
nav ul li a.nav-link.active {
    background-color: #4CAF50; /* Active background color */
    color: rgb(255, 255, 255); /* Active text color */
}

.container .heading{
    color: #000000;
    text-align: center;
    font-size: 40px;
}

.container hr{
    display: block;
    margin-top: 0.5rem;
    margin-left: 30px;
    margin-right: 30px;
    border-style: inset;
    border-width: 3px;
}

.top .box-container {   
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.top .box-container .box{
    height: 80%;
    padding: 3rem 1.5rem; 
    background: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.top .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
    width: 100%;
}

.bottom .box-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.bottom .box-container .box{
    height: 80%;
    padding: 3rem 1rem; 
    background: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.bottom .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
    width: 100%;
}
